@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 400;
  src: local('Eczar Regular'), local('Eczar-Regular'), url(https://fonts.gstatic.com/s/eczar/v8/BXRlvF3Pi-DLmz0lDOg.woff) format('woff');
}
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 700;
  src: local('Eczar Bold'), local('Eczar-Bold'), url(https://fonts.gstatic.com/s/eczar/v8/BXRovF3Pi-DLmzWeKft90Ww.woff) format('woff');
}
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 800;
  src: local('Eczar ExtraBold'), local('Eczar-ExtraBold'), url(https://fonts.gstatic.com/s/eczar/v8/BXRovF3Pi-DLmzWCKvt90Ww.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WlhzQ.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD-A.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD-A.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_epG3gnD-A.woff) format('woff');
}
